---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tejidos de ensueño">
  <main>
    <div class="w-full relative">
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col items-center"
      >
        <div class="text-5xl text-white font-bold flex gap-5 items-center">
          <img class="w-80 z-10" src="/TJE1.png" />
        </div>
        <div class="text-center">
          <span class="text-2xl" style="letter-spacing: 10px;"
            >TEJIDOS DE ENSUEÑO</span
          >
          <br />
          <span id="slogan" class="text-2xl text-blue-900"
            >"El hilo de cada gran obra"</span
          >
        </div>
      </div>
      <video
        class="w-full h-screen object-cover brightness-50"
        src="/BG-Video-TJE1.mp4"
        autoplay
        loop
        muted
        style="clip-path: polygon(0 0, 100% 0, 100% 88%, 50% 100%, 0 88%);"
      ></video>
      <video
        class="absolute -bottom-48 blur-3xl -z-40 brightness-75"
        src="/BG-Video-TJE1.mp4"
        autoplay
        loop
        muted></video>
    </div>

    <div>
      <div
        class="max-w-[82ch] m-auto flex gap-11 pt-24 px-8 flex-col md:flex-row"
      >
        <div class="text-5xl text-white font-bold">¿Quienes somos?</div>
        <div class="text-white">
          En TJE, somos un equipo apasionado de diseñadores y creadores
          especializados en el arte del vestuario para producciones teatrales.
          Con un profundo amor por el teatro, damos vida a cada personaje a
          través de prendas cuidadosamente elaboradas que cuentan una historia y
          transportan al público a diferentes épocas y mundos.
        </div>
      </div>
      <img
        class="max-w-[76ch] max-h-[34ch] object-cover w-full mt-10 m-auto rounded-lg "
        src="/quienes-somos2.jpg"
      />
    </div>

    <div id="card" class="mt-20 py-20">
      <div class="m-auto max-w-[82ch] flex flex-col items-center px-8 gap-5">
        <div class="text-4xl self-end font-bold text-[#3d211a]">¿Porqué elegirnos?</div>
        <div class="text-[#3d211a]">
          En TJE, creemos que la calidad no tiene que costar una fortuna. Nos
          especializamos en crear vestuario para obras de teatro que se ajusta a
          tu presupuesto, sin dejar de lado la calidad. Sabemos que cada
          producción tiene sus limitaciones, y estamos aquí para ayudarte a
          encontrar las mejores opciones que se adapten a lo que necesitas.
        </div>
      </div>
      <div>
        <div
          class="pt-10 flex gap-12 items-center justify-center overflow-hidden"
        >
          <img id="trajes" class="w-28" src="/Traje.png" />
          <img id="trajes" class="w-28" src="/Traje.png" />
          <img id="trajes" class="w-28" src="/Traje.png" />
          <img id="trajes" class="w-28" src="/Traje.png" />
          <img id="trajes" class="w-28" src="/Traje.png" />
          <img id="trajes" class="w-28" src="/Traje.png" />
        </div>
      </div>
    </div>

    <div id="mapa" class="mp-6 py-20">
      <div class="m-auto max-w-[82ch] flex flex-col items-center px-8">
        <img
          src="/MapaTJE.jpg"
          class="border-solid border-4 border-slate-900 rounded-xl w-full max-h-[34ch] object-cover"
        />
        <div class="self-end text-3xl pt-6 text-white font-bold">
          ¿Dónde encontrarnos?
        </div>
      </div>
    </div>

    <div
      id="card"
      class="p-10 flex justify-between items-center flex-col md:flex-row gap-10"
    >
      <div class="text-lg">
        <div class="text-3xl pb-6 text-black">Contáctanos</div>
        <div class="flex items-center gap-3">
          <img src="/email.png" class="w-6 h-6 " />
          <div class="text-black">tejidosdeensueño@gmail.com</div>
        </div>
        <div class="flex items-center gap-3">
          <img src="/Instagram_icon.png.webp" class="w-6 h-6" />
          <div class="text-black">@tejidosdeensueno_tje</div>
        </div>
        <div class="flex items-center gap-3">
          <img src="/WhatsApp.webp" class="w-6 h-6" />
          <div class="text-black">+34 608 31 00 07</div>
        </div>
      </div>

      <div class="text-3xl text-white font-bold flex gap-5 items-center">
        <img class="w-48 z-10" src="/TJE2.png" />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-family: "Montserrat", serif;
    font-weight: bold;
  }

  #slogan {
    font-family: "Dancing Script", cursive;
    color: #d4caa4;
  }

  #card {
    background: #cbb799;
  }

  #trajes {
    transition: all 0.2s;
  }

  #trajes:hover {
    transform: scale(1.1);
  }

  #mapa {
    background: #6f4d38;
  }
</style>
